.cafe-register-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 56px;
  height: 56px;
  background-color: black;
  color: white;
  border-radius: 50%;
  display: flex;
  font-weight: 900;
  font-size: 40px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.cafe-register-button:hover {
  background-color: #7bb5b1;
}