/* styles.css */

body{
    font-family: sans-serif;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .details_present {
    position: relative;
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .bg_present {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .frame_g {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
  }
  
  .place_details {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: left;
  }

  .place_details2 {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: left;
    overflow: hidden;
  }

  .inner_place {
    max-width: 800px;
    margin: 0 auto;
  }

  .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-50px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: #f9f9f9;
    padding: 20px 20px;
    overflow: hidden;
  }
  
  .info_location {
    display: inline-block;
    width: 14px;
    height: 18px;
    margin-right: 5px;
  }
  
  .tit_location {
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .location_evaluation {
    margin-bottom: 10px;
    height: 30px;
    padding-top: 8px;
    text-align: center;
  }
  
  .txt_location {
    display: inline-block;
    font-size: 16px;
    letter-spacing: -1px;
    line-height: 25px;
    text-decoration: none;
    vertical-align: top;
    margin : 10px;
  }
  
  .link_evaluation {
    font-size: 16px;
    color: #333;
    text-decoration: none;
    margin-right: 5px;
  }
  
  /* .link_evaluation:hover {
    color: #00c73c;
  } */
  
  .list_place {
    padding-left: 0;
    list-style: none;
    margin: 0;
  }
  
  .list_place li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .link_place {
    font-size: 14px;
    color: #777;
    text-decoration: none;
  }
  
  .link_place:hover {
    color: #00c73c;
  }

  .color_b{
    color:#3396ff;
  }

  .color_b:hover{
    text-decoration: underline;
  }
  
  .tit_subject{
    font-size: 17px;
    height: 23px;
    letter-spacing: -2px;
    line-height: 24px;
    padding: 10px 0 0;
    font-weight: 700;

  }
  .info_list{
    text-align: left;
    justify-content: space-between;
  }

  .info_revise {
    color: #999;
    font-size: 12px;
}
.detail_placeinfo{
    margin-bottom: 20px;
}
.location_detail{
    display: flex;
    margin-top: 20px;
}

.tit_detail{
    margin-top: -5px;
}

.inner_place .admin_modify{
    color: red;
}

.name_with_rate{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.review_with_rate{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center_image_input{
  font-family: sans-serif;
  text-align: center;
}

.image_container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Space between items */
}

.review_images {
  flex: 1 1 calc(33.333% - 16px);
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  background-color: #f9f9f9;
}

.review_images img {
  width: 100%;
  height: auto;
}

.view_more {
  flex: 1 1 calc(33.333% - 16px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  cursor: pointer;
  text-align: center;
}

.modal_image_container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.modal_review_images {
  flex: 1 1 calc(33.333% - 16px);
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  background-color: #f9f9f9;
}

.modal_review_images img {
  width: 100%;
  height: auto;
}