.mypage {
    display: flex;
    height: 60vh; 
    max-width: 1280px;
    margin: 0 auto;
}

.mypage-sidebar{
    padding-right: 20px;
}
.mypage-sidebar ul {
    list-style: none;
    padding: 10px;
}

.mypage-sidebar li{
    padding: 15px;
    cursor: pointer; 
}

.mypage-sidebar a{
    font-size: 20px;
    color: grey;
    font-family: "Nanum Gothic Coding", monospace;
}

.mypage-sidebar a:hover,
.mypage-sidebar a.active {
    color: #D5C4A1;
}

.mypage-card {
    flex: 1;
    background-color: #fff;
    overflow: auto; 
}

.mypage-header {
    padding: 20px;
    padding-left: 0px;
    padding-bottom: 5px;
    border-bottom: 3px solid #D5C4A1;
    text-align: left;
    margin-bottom: 100px;
}

.header-font {
    font-size: 21px;
    font-weight: 900;
}

.custom-delete-button {
    margin: 0 auto;
    width: 60%;
    background-color: black;
    color: white;
    padding: 15px;
    font-size: 20px; 
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s;
}

.custom-delete-button:hover {
    background-color: red;
    cursor: pointer;
}

.password-change-form{
    margin: 0 auto;
    width: 60%;
}

.custom-change-button {
    margin: 30px auto;
    width: 40%;
    cursor: pointer;
    color: white;
    padding: 5px;
    font-size: 20px; 
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.button-active {
    background-color: black;
}

.button-inactive {
    background-color: #ccc;
    cursor: not-allowed;
}

@media (max-width: 992px) {
    .mypage-sidebar {
        display: none;
    }
}