.mypage {
  display: flex;
  height: 55vh;
  max-width: 1280px;
  margin: 0 auto;
}

.mypage-sidebar {
  padding-right: 20px;
}

.mypage-sidebar ul {
  list-style: none;
  padding: 10px;
}

.mypage-sidebar li {
  padding: 15px;
  cursor: pointer;
  text-align: left;
}

.mypage-sidebar a {
  font-size: 20px;
  color: grey;
  font-family: "Nanum Gothic Coding", monospace;
}

.mypage-sidebar a:hover,
.mypage-sidebar a.active {
  color: #d5c4a1;
}

.mypage-card {
  flex: 1;
  background-color: #fff;
  height: 60vh;
  overflow: auto;
}

.mypage-header {
  padding: 20px;
  padding-left: 0px;
  padding-bottom: 5px;
  border-bottom: 3px solid #d5c4a1;
  text-align: left;
  margin-bottom: 30px;
}

.header-font {
  font-size: 21px;
  font-weight: 500;
}

.mypage-modify-display p {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 900;
  font-size: 18px;
}

.nickname-style:hover {
  text-decoration: underline;
}

.custom-modify-button {
  margin: 0 auto;
  width: 60%;
  background-color: black;
  color: white;
  padding: 15px;
  font-size: 20px;
  border-radius: 15px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.custom-modify-button:hover {
  background-color: #7bb5b1;
}

.admin-style {
  color: #d5c4a1;
}

.member-style {
  color: #d5c4a1;
}

.custom-delete-button {
  margin: 0 auto;
  width: 60%;
  background-color: black;
  color: white;
  padding: 15px;
  font-size: 20px;
  border-radius: 15px;
  transition: background-color 0.3s, color 0.3s;
}

.custom-delete-button:hover {
  background-color: red;
  cursor: pointer;
}

.password-change-form {
  margin: 0 auto;
  width: 60%;
}

.custom-change-button {
  margin: 30px auto;
  width: 40%;
  cursor: pointer;
  color: white;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.button-active {
  background-color: black;
}

.button-inactive {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 992px) {
  .mypage-sidebar {
    display: none;
  }
  .chat-list {
    width: 100%;
  }
}

.form-label {
  margin: 5px !important;
}

.form-modify-button {
  margin: 30px auto;
  text-align: center;
  cursor: pointer;
  width: 40%;
  background-color: black;
  color: white;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.form-modify-button:hover {
  background-color: #7bb5b1;
}

.chat-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  padding: 0;
}

.chat-list li {
  position: relative;
  flex: 0 1 calc(30% - 16px);
  display: flex;
  border: none;
  background-color: #f1f1f1;
  height: 130px;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 90px;
  transition: transform 0.3s;
}

.chat-list li::after {
  content: "";
  position: absolute;
  bottom: -100px; /* 세모가 붙을 위치 조정 */
  left: 55%; /* 세모가 중앙에 위치하도록 */
  transform: translateX(-50%); /* 세모를 중앙 정렬 */
  border-width: 50px; /* 세모의 크기 */
  border-style: solid;
  border-color: #f1f1f1 transparent transparent transparent; /* 세모의 색상 설정 */
}

.chat-list li:hover {
  transform: scale(1.04);
}

.chat-list li span {
  background-color: #ccc;
  margin: 10px 0px;
  padding: 10px 30px;
  border-radius: 10px;
  align-items: flex-end;
}

.chat-list-buttons {
  display: flex;
  flex-direction: column;
}

.chat-list li span:hover {
  background-color: black;
  color: white;
}

.chat-list li p {
  padding: 20px;
  font-size: 18px;
  width: 50%;
  align-self: center;
  font-weight: 900;
  font-family: "Nanum Gothic", sans-serif;
}

.unread-badge {
  position: absolute;
  left: 95%;
  top: -5%;
  width: 9%;
  height: 20%;
  background-color: red;
  color: white;
  border-radius: 50%;
}

.chat-list-popup {
  top: 0;
  right: 0;
  position: absolute;
  width: 400px;
  height: 250px;
  z-index: 1000;
}

.cafe-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.cafe-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.cafe-name {
  font-size: 26px;
  font-weight: 900;
  color: #333;
  margin-bottom: 10px;
}

.cafe-address {
  font-size: 16px;
  color: #777;
}
