.App {
  text-align: center;
  width: 95%;
  margin: 0 auto;
}

.hide-on-expanded {
  font-size: large;
}

.Logo-font {
  font-family: 'Times New Roman', Times, serif; 
  font-weight: 900;
  font-size: 40px;
}

.nav-container {
    margin: 30px 0px 0px 150px;
    font-size: large;
}

.nav-element {
    padding : 5px 30px 5px 30px;
    font-weight: 900;
}

.nav-side-element {
  position: relative;
  top: -30px;
  left: 0; 
  font-size: 15px;
  font-weight: 100;
}

.nav-side-element:hover {
  text-decoration: underline;
}

.custom-navbar-style {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
}

.nav-element:hover {
  background-color: #D5C4A1;
  border-radius: 20px;
  font-weight: 900;
  color: white;
}

.custom-card-body, .custom-card {
  width: 95%; 
  height: 600px;
  margin: auto;
  border: none !important;
    display: flex; 
  align-items: center; 
  gap: 20px;
  padding-bottom: 50px;
}

.text-container{
  flex: 0.85; 
  flex-direction: column; 
  margin-right: 20px
}

.custom-image {
  width: auto; 
  height: 370px;
}

.card-button{
  width: 200px;
  height: 60px;
}

.card-title-custom {
font-family: 'Roboto', sans-serif;
font-size: 60px;
font-weight: 900;
letter-spacing: 5px;
}

.loading-bar {
  width: 100%;
  height: 4px;
  background-color: #007bff;
  position: fixed;
  top: 56px;
  left: 0;
  animation: loading-animation 2s infinite;
}

.card-text-custom {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-size: 23px;
  font-style: normal;
}

@media (max-width: 992px) {
  .custom-card, .custom-card-body {
    width: 100%;
    height: auto; 
    flex-direction: column; 
  }

  .hide-on-expanded {
    display: none;
  }

  .text-container, .custom-image {
    width: 80%;  
    margin: 0;
  }

  .custom-image {
    height: auto; 
  }

  .card-button {
    width: 100%; 
    margin-top: 20px; 
  }

  .card-title-custom {
    font-size: 40px;
  }

  .card-text-custom {
    font-size: 18px; 
  }
}

.content {
  padding-bottom: 100px;
}

.ft {
  left: 0;
  bottom: 0;
    background-color: #D5C4A1;
    padding: 20px;
    font-weight: 900;
    color: black;
    width: 100%;
    text-align: center;
}


a:link, a:visited {
  text-decoration: none;
  color: black;
}

.loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: black; 
  z-index: 1500; 
}

@keyframes loading-animation {
  0% { width: 0; }
  50% { width: 50%; }
  100% { width: 100%; }
}
