.App {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.hide-on-expanded {
  font-size: large;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.Logo-font {
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  font-size: 40px;
  color: #d5c4a1 !important;
}

.nav-container {
  font-size: large;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 0 5px;
}

.custom-navbar-brand {
  width: 340px;
  margin-right: auto;
}

.custom-navbar-container {
  display: flex;
}

.custom-navbar-style {
  width: 100%;
}

.nav-element {
  position: relative;
  padding: 5px 30px 5px 30px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-size: 18px;
  white-space: nowrap;
}

.nav-side-element1 {
  position: relative;
  top: -20px;
  left: 0;
  font-size: 15px;
  font-weight: 100;
  padding-right: 15px;
  font-weight: 500;
}

.name-style {
  color: #d5c4a1;
  font-weight: bold;
  padding: 5px;
  white-space: nowrap;
}

.nav-side-element2 {
  padding-left: 15px;
  position: relative;
  top: -20px;
  left: 0;
  font-size: 15px;
  font-weight: 900;
  white-space: nowrap;
}

.custom-navbar-style {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
}

.nav-element.active,
.nav-element:hover,
.name-style:hover {
  font-weight: 900;
  color: black;
}

.nav-element::after {
  content: "";
  position: absolute;
  left: 100%;
  right: 100%;
  bottom: -20px;
  height: 3px;
  background-color: black;
  transition: left 0.3s ease, right 0.3s ease;
}

.nav-element.active::after,
.nav-element:hover::after {
  left: 10%;
  right: 10%;
  background-color: black;
}

.custom-card-body,
.custom-card {
  height: 600px;
  margin: auto;
  border: none !important;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 50px;
}

.text-container {
  flex: 0.85;
  flex-direction: column;
  margin-right: 20px;
}

.custom-image {
  width: auto;
  height: 370px;
}

.card-button {
  width: 200px;
  height: 60px;
}

.card-title-custom {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 900;
  font-size: 60px;
  white-space: nowrap;
  letter-spacing: 5px;
}

.card-text-custom {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-size: 23px;
  font-style: normal;
  white-space: nowrap;
}

@media (max-width: 992px) {
  .custom-card,
  .custom-card-body {
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .hide-on-expanded {
    display: none;
  }

  .text-container,
  .custom-image {
    width: 80%;
    margin: 0;
  }

  .nav-element::after {
    display: none;
  }

  .custom-image {
    height: auto;
  }

  .card-button {
    width: 100%;
    margin-top: 20px;
  }

  .card-title-custom {
    font-size: 40px;
  }

  .card-text-custom {
    font-size: 18px;
  }
}

.content {
  padding-bottom: 100px;
}

.ft {
  left: 0;
  bottom: 0;
  background-color: #d5c4a1;
  padding: 20px;
  font-weight: 900;
  color: black;
  width: 100%;
  text-align: center;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

.modal-position {
  transform: translate(-0%, 30%);
  text-align: center;
}

.page-link {
  cursor: pointer;
  padding: 8px 12px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  color: #d5c4a1 !important;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.page-link:hover,
.page-link:focus {
  background-color: #d5c4a1 !important;
  color: white !important;
}

.page-item:active {
  background-color: #d5c4a1 !important;
  color: white !important;
}

@keyframes loading-animation {
  0% {
    width: 0;
  }

  50% {
    width: 50%;
  }

  100% {
    width: 100%;
  }
}
