.App {
  text-align: center;
  width: 95%;
  margin: 0 auto;
}

.Logo-font {
  font-family: 'Times New Roman', Times, serif; 
  font-weight: 900;
  font-size: 40px;

}

.custom-card-body, .custom-card {
  width: 95%; /* Card의 너비를 화면 너비에 맞춤 */
  height: 600px;
  margin: auto;
  border: none !important;
    display: flex; /* Flexbox를 활성화 */
  align-items: center; /* 요소들을 수직 중앙 정렬 */
  gap: 20px; /* 요소들 사이에 20px 간격 */
}

.custom-navbar-style {
  background-color: white; /* 글자 색상 변경 */
  padding: 10px 0; /* 상하 패딩 조정 */
  /* 여기에 더 많은 스타일 규칙을 추가할 수 있습니다 */
}

.text-container{
  flex: 0.85; /* 텍스트 컨테이너가 가능한 많은 공간을 차지하도록 설정 */
  flex-direction: column; /* 텍스트 요소를 수직으로 정렬 */
  margin-right: 20px; /* 이미지와의 간격 */
}

.custom-image {
  width: auto; /* 이미지의 크기 설정, 필요에 따라 조절 */
  height: 370px; /* 이미지의 비율을 유지 */
}

.card-button{
  width: 200px;
  height: 60px;
}

.card-title-custom {
  font-family: 'Roboto', sans-serif;
font-size: 60px;
font-weight: 900;
letter-spacing: 1px;
}

.loading-bar {
  width: 100%;
  height: 4px;
  background-color: #007bff;
  position: fixed;
  top: 56px; /* Navbar의 높이에 맞춰 조정 */
  left: 0;
  animation: loading-animation 2s infinite;
}

.card-text-custom {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-size: 23px;
  font-style: normal;
}

@media (max-width: 992px) {
  .custom-card, .custom-card-body {
    width: 100%;
    height: auto; 
    flex-direction: column; 
  }

  .text-container, .custom-image {
    width: 80%;  
    margin: 0;
  }

  .custom-image {
    height: auto; 
  }

  .card-button {
    width: 100%; 
    margin-top: 20px; 
  }

  .card-title-custom {
    font-size: 40px;
  }

  .card-text-custom {
    font-size: 18px; 
  }
}

.ft {
    background-color: whitesmoke;
    padding: 30px;
    margin: auto;
    font-weight: 900;
    width: 95%;
}

.map-container {
  margin: 0 auto;
  align-items: center; /* 요소들을 수직 중앙 정렬 */
  width: 90vw; /* 뷰포트의 너비를 100%로 설정 */
  height: 85vh; /* 뷰포트의 높이를 100%로 설정 */
  position: relative; /* 상대적 위치 설정 */
}

.map-content {
  width: 100%; /* 부모 요소의 100% 너비 */
  height: 100%; /* 부모 요소의 100% 높이 */
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

@keyframes loading-animation {
  0% { width: 0; }
  50% { width: 50%; }
  100% { width: 100%; }
}
