.map-container {
    margin: 0 auto;
    align-items: center; 
    width: 80%; 
    height: 70vh; 
    position: relative; 
    border: 10px solid #D5C4A1;
    
  }
  
  .map-content {
    width: 100%; 
    height: 100%; 
  }
  

.custom-window {
    text-align: left;
    padding: 0px;
    margin: 0px;
    color: black;
  }

.window-head {
  font-size: 11px;
  padding: 0px;
  margin: 0px;
}

.window-cafe {
  font-size: 15px;
  font-weight: 900;
  padding: 0px;
  margin: 0px;
  color: white;
}

.window-review {
  font-size: 13px;
  font-weight: 100;
  padding: 0px;
  margin: 0px;
  color: black;
}