.newboard-icon {
  font-size: 45px;
}

.detail-post-container h3 {
  font-family: "Nanum Gothic", sans-serif;
  padding: 20px;
}

.newboard-icon:hover {
  color: #999;
}

.newboard-title {
  width: 50%;
  min-width: 340px;
  padding-bottom: 40px;
}

.floating-label .newboard-content-control {
  height: 20vh;
}

.newboard-img-control {
  width: 30%;
  min-width: 340px;
}

.image-preview {
  margin: 30px 0;
  text-align: start;
}

.image-preview img {
  max-width: 50%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.newboard-submit-button {
  font-size: 20px;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 40px;
  border: none;
}

.newboard-submit-button:hover {
  background-color: #2f3133;
}
