.search-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search-bar {
  margin: 0 auto;
  position: relative;
  width: 80%;
  max-width: 600px;
  display: flex;
}

.search-box {
  margin-top: 30px;
}

.search-input {
  width: 100%;
  border: 2px solid grey;
  border-radius: 20px;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: grey;
}

.search-icon:hover {
  color: black;
}

.search-input:hover {
  border: 2px solid black;
}

.search-filter {
  padding: 5px;
  margin-right: 20px;
  border-radius: 10px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 900;
  border: 2px soild black;
}

.search-filter option {
  transition: 0.3s;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 900;
}
